[submodule "3rdparty/arduino-esp32"]
	path = 3rdparty/arduino-esp32
	url = https://github.com/powerfeather/arduino-esp32.git
[submodule "3rdparty/sparkfun_bq27441"]
	path = 3rdparty/sparkfun_bq27441
	url = git@github.com-powerfeather:powerfeather/arduino-esp32.git
